@{
    ViewBag.Title = "Home Page";
}

<h2 id="welcome-message">Welcome to our website</h2>

@if(!string.IsNullOrWhiteSpace(ViewBag.UserName)) {
	<script type="text/javascript">
		$(function () {
			var message = 'Welcome, @Ajax.JavaScriptStringEncode(ViewBag.UserName)!';
			$("#welcome-message").html(message).hide().show('slow');
		});
	</script>
}